.btn_active{
    background-color: blue;
}
.pincontainer{
    width: 10vw;
    display: flex;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}

body{
    height: 100%;
    background-image: url(./images/ravintola.jpg);
    background-size: auto;
    background-repeat:repeat-x;
}
