.menu-card, #right-panel-adm {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.rigth-card {
    margin: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#right-panel-adm{
    width: 100%;
    min-height:70vh;
}
.main-content2{
    display: flex;
    min-height:70vh;
    padding: 2rem;
    margin-top: 4rem;
}

.list-group-item,.addUser, .description{
    background: rgba(255, 255, 255, 0.1);   
}
.addUser{
    margin-left: 2rem;

    background: rgba(255, 255, 255, 0.1);   
}
.description{
    margin: 1rem;

}
.groupelement{
    margin: 1rem;
    margin-top: 1rem;
    border-radius: 20px; 
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0);   
    display: flex;
}

.main-container-adm {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}

.main-content2{
    background-image: url('../../../images/ravintola.jpg');
    min-width: 300px;
}
.table{
    border-radius: 20px;   
}


@media (max-width: 480px) {

    .menu-card{
        display: none;
    }
}